*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.about{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .about .container span{
    color:blue;
    font-weight: 400;
    font-size: 18px;

  }
  
  .about .container h2 {
    font-size: 32px;
    color: #232323;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .about .container h3 {
    font-size: 24px;
    color: #232323;
    text-transform: uppercase;
    margin-top: 30px;
  }
  .about .container .mission h3 {
    font-size: 20px;
    color: #232323;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .about .container p {
    font-size: 16px;
    color: #242323;
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  .about .container .mission p {
    font-size: 16px;
    color: #242323;
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  
  
  .about .container ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .about .container .set_apart ul li {
    font-size: 16px;
    color: #242323;
    margin-bottom: 10px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  .about .container .set_apart h3 {
    font-size: 20px;
    color: #232323;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .about .container .founder .founder-info {
   display: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .about .container .founder .founder-info img {
    max-width: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  
  
  .about .container .founder .founder-info h4 {
    font-size: 20px;
    color: #232323;
    margin-bottom: 5px;
  }
  .about .container .founder .founder-info h6 {
    font-size: 13px;
    color: #232323;
    margin-bottom: 5px;
  }
  
  .about .container .founder .founder-info p {
    font-size: 16px;
    color:#232323;
    margin-bottom: 10px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  
  @media (min-width: 480px) {
    .about {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }
  
    .about .container span {
      color: blue;
      font-weight: 400;
      font-size: 18px;
    }
  
    .about .container h2 {
      font-size: 32px;
      color: #232323;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  
    .about .container h3 {
      font-size: 24px;
      color: #232323;
      text-transform: uppercase;
      margin-top: 30px;
    }
  
    .about .container .mission h3 {
      font-size: 20px;
      color: #232323;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  
    .about .container p {
      font-size: 16px;
      color: #242323;
      margin-bottom: 20px;
      line-height: 1.5;
      letter-spacing: 1px;
    }
  
    .about .container .mission p {
      font-size: 16px;
      color: #242323;
      margin-bottom: 20px;
      line-height: 1.5;
      letter-spacing: 1px;
    }
  
    .about .container ul {
      list-style: none;
      padding: 0;
      text-align: left;
    }
  
    .about .container .set_apart ul li {
      font-size: 16px;
      color: #242323;
      margin-bottom: 10px;
      line-height: 1.5;
      letter-spacing: 1px;
    }
  
    .about .container .set_apart h3 {
      font-size: 20px;
      color: #232323;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  
    .about .container .founder .founder-info {
      display: flex;
      
    flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }
  
    .about .container .founder .founder-info img {
      max-width: 150px;
      border-radius: 50%;
      margin-right: 20px;
    }
  
    .about .container .founder .founder-info h4 {
      font-size: 25px;
      color: blue;
      margin-bottom: 5px;
    }
  
    .about .container .founder .founder-info h6 {
      font-size: 16px;
      color: #232323;
      margin-bottom: 5px;
    }
  
    .about .container .founder .founder-info p {
      font-size: 16px;
      color: #232323;
      margin-bottom: 10px;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: justify
       }
  }
  